<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension
         point="org.eclipse.ui.menus">
          <menuContribution
                locationURI="menu:org.eclipse.ui.main.menu?after=additions">
       <menu
             id="EVMDD_SMC_ModelGenerator.mainmenu"
             label="Pulse-Settings">
          <menu
                label="Inheritance">
             <command
                   commandId="pulse-svn.command.inheritance.0"
                   label="No Inheritance"
                   style="radio">
                   <visibleWhen checkEnabled="true"/>
             </command>
             <command
                   commandId="pulse-svn.command.inheritance.1"
                   label="Include Inheritance"
                   style="radio">
                   <visibleWhen checkEnabled="true"/>
             </command>
          </menu>
          <menu
                label="Dimensions">
             <command
                   commandId="pulse-svn.command.dimensions.0"
                   label="No Dimesnion"
                   style="radio">
                   <visibleWhen checkEnabled="true"/>
             </command>
             <command
                   commandId="pulse-svn.command.dimensions.1"
                   label="Include Dimensions"
                   style="radio">
                   <visibleWhen checkEnabled="false"/>
             </command>
          </menu>

          
          <menu
                label="Invariants">
             <command
                   commandId="pulse-svn.command.Invariants.0"
                   label="No Invaraint"
                   style="radio">
                   <visibleWhen checkEnabled="true"/>
             </command>
             <command
                   commandId="pulse-svn.command.Invariants.1"
                   label="Invaraints with AP and Typestates"
                   style="radio">
                   <visibleWhen checkEnabled="false"/>
             </command>
             <command
                   commandId="pulse-svn.command.Invariants.2"
                   label="Invaraints to chcek Equality expression   "
                   style="radio">
                   <visibleWhen checkEnabled="false"/>
             </command>
             <command
                   commandId="pulse-svn.command.Invariants.3"
                   label="All Types of Invaraints"
                   style="radio">
                   <visibleWhen checkEnabled="false"/>
             </command>
          </menu>
          <menu
                label="Alias per Object">
             <command
                   commandId="EVMDD_SMC_ModelGenerator.action.K.0"
                   label="K-0"
                   style="radio">
                   <visibleWhen checkEnabled="true"/>
             </command>
             <command
                   commandId="EVMDD_SMC_ModelGenerator.action.K.1"
                   label="K-1"
                   style="radio">
                   <visibleWhen checkEnabled="false"/>
             </command>
             <command
                   commandId="EVMDD_SMC_ModelGenerator.action.K.2"
                   label="K-2"
                   style="radio">
                   <visibleWhen checkEnabled="false"/>
             </command>
             <command
                   commandId="EVMDD_SMC_ModelGenerator.action.K.3"
                   label="K-3"
                   style="radio">
                   <visibleWhen checkEnabled="false"/>
             </command>
             <command
                   commandId="EVMDD_SMC_ModelGenerator.action.K.4"
                   label="K-4"
                   style="radio">
                   <visibleWhen checkEnabled="false"/>
             </command>
          </menu>
          <separator
                name="pulse-svn.separator1"
                visible="true">
          </separator>
          <command
                commandId="pulse-svn.command.basic.model"
                label="Basic Model"
                style="radio">
                <visibleWhen checkEnabled="true"/>
          </command>
          <command
                commandId="pulse-svn.command.full.model"
                label="Full Model"
                style="radio">
                <visibleWhen checkEnabled="false"/>
          </command>
       </menu>
    </menuContribution>
   </extension>
   
      <extension point="org.eclipse.ui.commands">
         <command
          
          defaultHandler="pt.uma.gap.plugin.GAPHandler"
          description="K-0"
          id="EVMDD_SMC_ModelGenerator.action.K.0"
          name="K-0">
        </command>
        <command
          
          defaultHandler="pt.uma.gap.plugin.GAPHandler"
          description="K-1"
          id="EVMDD_SMC_ModelGenerator.action.K.1"
          name="K-1">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              description="K-2"
              id="EVMDD_SMC_ModelGenerator.action.K.2"
              name="K-2">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              description="K-3"
              id="EVMDD_SMC_ModelGenerator.action.K.3"
              name="K-3">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              description="K-4"
              id="EVMDD_SMC_ModelGenerator.action.K.4"
              name="K-4">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              id="pulse-svn.command.Invariants.0"
              name="No Invaraint">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              id="pulse-svn.command.Invariants.1"
              name="Invaraints with AP and Typestates">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              id="pulse-svn.command.Invariants.2"
              name="Invaraints to chcek Equality expression ">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              id="pulse-svn.command.Invariants.3"
              name="All Types of Invaraints">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              id="pulse-svn.command.dimensions.0"
              name="No Dimesnion">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              id="pulse-svn.command.dimensions.1"
              name="Include Dimensions">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              id="pulse-svn.command.inheritance.0"
              name="No Inheritance">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              id="pulse-svn.command.inheritance.1"
              name="Include Inheritance">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              id="pulse-svn.command.full.model"
              name="Full Model">
        </command>
        <command
              defaultHandler="pt.uma.gap.plugin.GAPHandler"
              id="pulse-svn.command.basic.model"
              name="Basic Model">
        </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="GAPplugin.GAPCompUnit"
            objectClass="org.eclipse.jdt.core.ICompilationUnit">
         <menu
               id="GAPplugin.menu.GAPCompUnit"
               label="Pulse">
            <separator
                  name="GAPplugin.separator.GAPCompUnit">
            </separator>
         </menu>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               enablesFor="*"
               id="EVMDD_SMC_ModelGenerator.action.alltest"
               label="All Tests"
               menubarPath="GAPplugin.menu.GAPCompUnit/GAPplugin.separator.GAPCompUnit">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Concurrency.Test"
               label="Concurrency- Test"
               menubarPath="GAPplugin.menu.GAPCompUnit/GAPplugin.separator.GAPCompUnit">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Adjaceny.Matrix"
               label="Adjaceny Matrix(Graph) of States- Test"
               menubarPath="GAPplugin.menu.GAPCompUnit/GAPplugin.separator.GAPCompUnit">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Methods.Execution"
               label="Methods Reachability- Test"
               menubarPath="GAPplugin.menu.GAPCompUnit/GAPplugin.separator.GAPCompUnit">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Sink.States"
               label="Sink States(Deadlock)- Test"
               menubarPath="GAPplugin.menu.GAPCompUnit/GAPplugin.separator.GAPCompUnit">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="GAPplugin.GAPPackage"
            objectClass="org.eclipse.jdt.core.IPackageFragment">
         <menu
               id="GAPplugin.menu.GAPPackage"
               label="Pulse">
            <separator
                  name="GAPplugin.separator.GAPPackage">
            </separator>
         </menu>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               enablesFor="*"
               id="EVMDD_SMC_ModelGenerator.action.alltest"
               label="All Tests"
               menubarPath="GAPplugin.menu.GAPPackage/GAPplugin.separator.GAPPackage">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Concurrency.Test"
               label="Concurrency- Test"
               menubarPath="GAPplugin.menu.GAPPackage/GAPplugin.separator.GAPPackage">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Adjaceny.Matrix"
               label="Adjaceny Matrix(Graph) of States- Test"
               menubarPath="GAPplugin.menu.GAPPackage/GAPplugin.separator.GAPPackage">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Methods.Execution"
               label="Methods Reachability- Test"
               menubarPath="GAPplugin.menu.GAPPackage/GAPplugin.separator.GAPPackage">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Sink.States"
               label="Sink States(Deadlock)- Test"
               menubarPath="GAPplugin.menu.GAPPackage/GAPplugin.separator.GAPPackage">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="GAPplugin.GAPPackageRoot"
            objectClass="org.eclipse.jdt.core.IPackageFragmentRoot">
         <menu
               id="GAPplugin.menu.GAPPackageRoot"
               label="Pulse">
            <separator
                  name="GAPplugin.separator.GAPPackageRoot">
            </separator>
         </menu>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               enablesFor="*"
               id="EVMDD_SMC_ModelGenerator.action.alltest"
               label="All Tests"
               menubarPath="GAPplugin.menu.GAPPackageRoot/GAPplugin.separator.GAPPackageRoot">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Concurrency.Test"
               label="Concurrency- Test"
               menubarPath="GAPplugin.menu.GAPPackageRoot/GAPplugin.separator.GAPPackageRoot">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Adjaceny.Matrix"
               label="Adjaceny Matrix(Graph) of States- Test"
               menubarPath="GAPplugin.menu.GAPPackageRoot/GAPplugin.separator.GAPPackageRoot">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Methods.Execution"
               label="Methods Reachability- Test"
               menubarPath="GAPplugin.menu.GAPPackageRoot/GAPplugin.separator.GAPPackageRoot">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Sink.States"
               label="Sink States(Deadlock)- Test"
               menubarPath="GAPplugin.menu.GAPPackageRoot/GAPplugin.separator.GAPPackageRoot">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="GAPplugin.GAPProject"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu
               id="GAPplugin.menu.GAPProject"
               label="Pulse">
            <separator
                  name="GAPplugin.separator.GAPProject">
            </separator>
         </menu>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               enablesFor="*"
               id="EVMDD_SMC_ModelGenerator.action.alltest"            
               label="All Tests"
               menubarPath="GAPplugin.menu.GAPProject/GAPplugin.separator.GAPProject">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Concurrency.Test"
               label="Concurrency- Test"
               menubarPath="GAPplugin.menu.GAPProject/GAPplugin.separator.GAPProject">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Adjaceny.Matrix"
               label="Adjaceny Matrix(Graph) of States- Test"
               menubarPath="GAPplugin.menu.GAPProject/GAPplugin.separator.GAPProject">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Methods.Execution"
               label="Methods Reachability- Test"
               menubarPath="GAPplugin.menu.GAPProject/GAPplugin.separator.GAPProject">
         </action>
         <action
               class="pt.uma.gap.plugin.GAPIFileAction"
               id="EVMDD_SMC_ModelGenerator.action.Sink.States"
               label="Sink States(Deadlock)- Test"
               menubarPath="GAPplugin.menu.GAPProject/GAPplugin.separator.GAPProject">
         </action>
      </objectContribution>
   </extension>

</plugin>
